/* Resetting browser defaults */
html, body, h1, h2, ul, li {
    padding: 0;
    border: 0;
    margin: 0;
}
/* Setting html/body height to 100% 
to allow for .bg height to match full page*/
html, body {
    height: 100%;
}
body {
    color: #ffffff;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.bg {
    background: url(./images/background-panda.jpg) center center no-repeat;
    height: 100%;
    background-size: cover;
}
.nav {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #0d0268;
}
.nav li{
    display: inline;
    padding: 20px;
}
.nav a {
    text-decoration: 0;
    color: white;
}
.nav a:hover {
    text-decoration: underline;
    color: #720869;
}
header {
    text-align: center;
    padding-top: 75px;
}
h1 {
    padding-bottom: 20px;
    font-size: 60px;
}
h2 {
    font-size: 15px;
    padding-bottom: 35px;
}
h3 {
    font-size: 13px;
}
p {
    font-size: 10px;
}
.blog-content {
    border: 2px dotted;
    width: 50%;
    margin: 0 auto 15px auto; /*adding bottom margin to separate further blog entries in the future*/
    padding: 5px;
}
.blog-content h3 {
    text-align: center;
}